
.taskbar {
    background-color: rgba(0,0,0,0.2);
    display: block;
    width: 100%;
    height: 2em;
}


::slotted(button){
    height: 100%;
    background: transparent; 
}

::slotted(button:hover){
    background: rgba(0,0,0,0.2); 
}

::slotted(button.focus){
    background: rgba(0,0,0,0.2); 
}