<div class="window">
    <div class="window__top-bar">
        <span class="window__title">Window 1</span>
        <span class="button button--minimize"></span>    
        <span class="button button--maximize"></span>    
        <span class="button button--close"></span>    
    </div>        
    <div class="window__main-frame">
        <slot></slot>
    </div>
    <div class="border border--top-left"></div>        
    <div class="border border--top"></div>        
    <div class="border border--top-right"></div>        
    <div class="border border--right"></div>        
    <div class="border border--bottom-right"></div>        
    <div class="border border--bottom"></div>        
    <div class="border border--bottom-left"></div>        
    <div class="border border--left"></div>        
</div>